{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Sid": "Lambda",
			"Effect": "Allow",
			"Action": [
				"lambda:InvokeFunction"
			],
			"Resource": [
				"arn:aws:lambda:*:{{ aws_account_id }}:function:bmarks-*"
			]
		},
		{
			"Sid": "DynamoDBTable",
			"Effect": "Allow",
			"Action": [
				"dynamodb:DeleteItem",
				"dynamodb:GetItem",
				"dynamodb:PutItem",
				"dynamodb:Query",
				"dynamodb:Scan",
				"dynamodb:UpdateItem",
				"dax:DeleteItem",
				"dax:GetItem",
				"dax:PutItem",
				"dax:Query",
				"dax:Scan",
				"dax:UpdateItem"
			],
			"Resource": [
				"arn:aws:dynamodb:*:{{ aws_account_id }}:table/bmarks_links"
			]
		},
		{
			"Sid": "DynamoDBTableIndex",
			"Effect": "Allow",
			"Action": [
				"dynamodb:Query",
				"dynamodb:Scan",
				"dax:Query",
				"dax:Scan"
			],
			"Resource": [
				"arn:aws:dynamodb:*:{{ aws_account_id }}:table/bmarks_links/index/*"
			]
		},
		{
			"Sid": "CloudWatchLogs",
			"Effect": "Allow",
			"Action": [
				"logs:CreateLogGroup",
				"logs:CreateLogStream",
				"logs:PutLogEvents"
			],
			"Resource": [
				"arn:aws:logs:*:{{ aws_account_id }}:log-group:/aws/lambda/bmarks-*"
			]
		}
	]
}
