{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Effect": "Allow",
			"Action": [
				"logs:*"
			],
			"Resource": "arn:aws:logs:*:*:*"
		},
		{
			"Effect": "Allow",
			"Action": [
				"lambda:InvokeFunction"
			],
			"Resource": [
				"arn:aws:lambda:*:{{ account_id }}:function:bmarks-dev"
			]
		},
		{
			"Effect": "Allow",
			"Action": [
				"dynamodb:DeleteItem",
				"dynamodb:GetItem",
				"dynamodb:PutItem",
				"dynamodb:Query",
				"dynamodb:Scan",
				"dynamodb:UpdateItem",
				"dax:DeleteItem",
				"dax:GetItem",
				"dax:PutItem",
				"dax:Query",
				"dax:Scan",
				"dax:UpdateItem"
			],
			"Resource": "arn:aws:dynamodb:*:{{ account_id }}:table/bmarks_links"
		},
		{
			"Effect": "Allow",
			"Action": [
				"dynamodb:Query",
				"dynamodb:Scan",
				"dax:Query",
				"dax:Scan"
			],
			"Resource": "arn:aws:dynamodb:*:{{ account_id }}:table/bmarks_links/index/*"
		}
	]
}
