{
    "dev": {
        "app_function": "zappa_init.app",
        "project_name": "bmarks",
        "runtime": "python3.7",
        "s3_bucket": "bmarks",
	"exclude": [
		".env",
		".git",
		".pytest_cache",
		"__pycache__",
		"build",
		"extra",
		"tests",
		"venv",
		"zappa_settings.json"
	],

	"aws_region": "eu-west-1",
	"tags": {"app": "bmarks"},

        "manage_roles": false,
        "role_name": "bmarks-execution-role",
        "role_arn": "arn:aws:iam::{{ aws_account_id }}:role/bmarks-execution-role",

	"memory_size": 128
    }
}
