{
    "dev": {
        "app_function": "bmarks.app",
        "project_name": "bmarks",
        "runtime": "python3.7",
        "s3_bucket": "bmarks",

	"aws_region": "eu-west-1",

        "manage_roles": false,
        "role_name": "bmarks-execution-role",
        "role_arn": "arn:aws:iam::{{ aws_account_id }}:role/bmarks-execution-role",

	"memory_size": 128
    }
}
