{% extends "base.html" %}

{% block script %}
{% raw %}
<script id="link_link.hbs" type="text/x-handlebars-template">
	<a href="{{link}}">{{{text_for_link link}}}</a>
</script>
<script id="link_tags.hbs" type="text/x-handlebars-template">
	{{# each tags}} <span class="label label-info">{{this}}</span>{{/each}}
</script>
<script id="link_controls.hbs" type="text/x-handlebars-template">
	<div class="dropdown">
		<button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
		<ul class="dropdown-menu dropdown-menu-right">
			<li><a class="abutton_toggleread_by_url" data-url="{{> app.toggleread_route link_id=id}}">{{{text_for_read tags}}}</a></li>
			<li><a href="{{> app.edit_route link_id=id}}">Edit</a></li>
			<li><a class="abutton_delete_by_url" data-url="{{> app.delete_route link_id=id}}">Delete</a></li>
		</ul>
	</div>
</script>
{% endraw %}
<script type="text/javascript">
	Handlebars.registerPartial('app.toggleread_route', "{{ url_for('app.toggleread_route', link_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{link_id}}{%endraw%}'));
	Handlebars.registerPartial('app.edit_route', "{{ url_for('app.edit_route', link_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{link_id}}{%endraw%}'));
	Handlebars.registerPartial('app.delete_route', "{{ url_for('app.delete_route', link_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{link_id}}{%endraw%}'));

	Handlebars.registerHelper('text_for_read', function(data) { return data.includes('read') ? 'Unread' : 'Read'; });
	Handlebars.registerHelper('text_for_link', function(data) {
		var window_wide = 400;
		var cutoff_wide = 100;
		var cutoff_narrow = 30;
		var cutoff = ($(window).width() < window_wide) ? cutoff_narrow : cutoff_wide;
		var esc = function (t) {
			return t
				.replace( /&/g, '&amp;' )
				.replace( /</g, '&lt;' )
				.replace( />/g, '&gt;' )
				.replace( /"/g, '&quot;' );
		};

		if (data.length <= cutoff) {
			return data;
		}
		var shortened = data.substr(0, cutoff-1);
		return '<span class="ellipsis" title="'+esc(data)+'">'+shortened+'&#8230;</span>';
	});

	var link_link = Handlebars.compile(document.getElementById('link_link.hbs').innerHTML);
	var link_tags = Handlebars.compile(document.getElementById('link_tags.hbs').innerHTML);
	var link_controls = Handlebars.compile(document.getElementById('link_controls.hbs').innerHTML);

	var dt_links_table_options = {
		'ajax': {'url': "{{ url_for('app.index_json_route') }}"},
		'columns': [
			{'name': 'id', 'title': 'id', 'data': 'id', 'visible': false},
			{'name': 'created', 'title': 'created', 'data': 'created', 'visible': false},
			{'name': 'link', 'title': 'link', 'data': 'link', 'render': (data, type, row, meta) => { return link_link(row); }},
			{'name': 'tags', 'title': 'tags', 'data': 'tags', 'render': (data, type, row, meta) => { return link_tags(row); }},
			{'name': '_buttons', 'orderable': false, 'searchable': false, 'render': (data, type, row, meta) => { return link_controls(row); }, 'visible': current_user_is_authenticated}
		],
		'info': true,
		'order': [[1, 'desc']],
		'processing': true,

		'paging': true,
		'pageLength': 100,
		'lengthMenu': [[10, 50, 100, 1000, -1], [10, 50, 100, 1000, "All"]],
		'drawCallback': function (settings) {
			this.find('td a.abutton_toggleread_by_url').on('click', {'dt': this.api()}, action_submit_by_url);
			this.find('td a.abutton_delete_by_url').on('click', {'dt': this.api(), 'confirmation': 'Really delete?'}, action_submit_by_url);
		}
	};

	$(document).ready(function() {
		$('#dt_links_table').DataTable(dt_links_table_options);
	});
</script>
{% endblock %}

{% block content %}
<table id="dt_links_table" class="table table-condensed table-hover table-responsive" width=100%></table>
{% endblock %}
